    header{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 110px;
        background-color:#8acbf7;
    } 
    .header{
        width: 100%; 
    }
    .title{
        margin: 0; 
        padding: 0; 
        line-height: 110px;
        font-size: 50px;
        font-family: serif ;
        padding-top: 0;
    }
    #logo {
        width: 110px;
        height: 110px;
        float: left;
        margin-right: 10px;
    }
    nav{
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color:#72b7f7;
    }
    #menu, #menu li {
        margin: 0; /* убрать внутренние отступы */
        padding: 0; /* убрать внешние отступы */
        text-align: center;
    }
    #menu a {
        margin: 10px;
        color: #fff; /* цвет текста */
        text-decoration: none; /* убрать нижнее подчёркивание у ссылок */
    }
    #menu a:hover {
        background: #1c04f1; /* фон пунктов при наведении */
    }   
    .block{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: stretch;
	    align-items: center;
    }
    .table{
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: stretch;
        width:100%;
        order: 2;
    }
    table, th, td{
        border-collapse:collapse;
        border: 1px solid black;
        height:50px;
        text-align: center;   
    }
    th{
        background-color: gray;
    }
    tr:nth-child(even){
        background-color: #b9bdbe;
    }
    .form{
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 1;
    }
    .b{
        width: auto;
        border: 3px solid black;
        margin: 0;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif ;
    }
    h1{
        text-align: center; 
    }
    .ahr{
        display: flex;
        flex-direction: column;
        width: 100%;  
        font-size: 20px;
    }
    .ahr li{
        justify-content: stretch;
	    align-items: stretch;
        margin-left: 50px; 
    }
    .ahr a{
        font-size: 20px;
        font-family: serif;
    }
    footer{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 110px;
        background-color:#8acbf7;
    }
    .footer{
        margin: 0; 
        padding: 0; 
        line-height: 110px;
        font-size: 20px;
        font-family: serif;
        padding-top: 0;
    } 
@media (min-width: 1080px) {
    header{
        align-items: center;
        justify-content: center;
    } 
    .header{
        width: 960px;   
    }
    #menu, #menu li {
        margin: 0; /* убрать внутренние отступы */
        padding: 0; /* убрать внешние отступы */
        display:inline-block; 
        text-align: center;
    }
    .block{
        width: 960px;
        margin-left: auto;
        margin-right: auto;
    }
    .table{
        justify-content: center;
        align-items: center;
        width: auto;
        order: 1;
    }
    .form{
        order: 2;
    }
    footer{
        align-items: center;
        justify-content: center;
    }
    .footer{
        width: 960px;
    }
 }


